@tailwind base;
@tailwind components;
@tailwind utilities;

$color-green: #37e614;
$bg-black:#070c0f;
$bg-light-black:#2d3132;
$bg-dark-green:#bbfe03;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
//* Define the header-style mixin  *//
@mixin bg-style($image-url) {
  max-width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 
    ),
    url($image-url);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  & > * {
    color: #fff;
  }
}

.header {
  @include bg-style("../../public/images/headerBG.jpg");
}
.navbar {
  max-width: 80%;
  margin: auto;
  background-image: url("../../public/images/headerBG.jpg");
  background-position: left;
  box-shadow: 2px 2px 5px 4px $color-green inset;
}

.logo {
  & > img {
    max-width: 4rem;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
  }
}

.list-items {
  position: relative;
  left: 5rem;
  & > li {
    list-style-type: none;
    font-size: 1.3rem;
    color: #f0dd35;
    border: 2px solid rgb(72, 69, 69);
    padding: 0.3rem;
    box-shadow: 4px 2px 3px $color-green;
    border-radius: 2rem;
  }
}

//! END NAVBAR //

//* styles on Main section *//

.main-section {
  @include bg-style("../../public/images/headerBG.jpg");
  height: 90vh;
}

.wrapper{
  max-width: 80%;
  margin: auto;
  height: 80vh;

  //*  intro styling  *//
  .intro-text {
    color: #F5F5F5;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
  }
  
  /* Delay the <p> tag slightly to create a staggered effect */
  .intro-text:nth-of-type(2) {
    animation-delay: 0.3s;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  //! END intro styling  *//
  
  .profile-img img{
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px $color-green);
    border: 5px solid white;
  }

}